---
import Link from "../Link.astro";
---

<nav
  class="flex flex-col gap-10 rounded-md border-r-2 border-dark dark:border-light pt-5 pb-5 pl-2 pr-15"
>
  <!-- Home -->
  <Link href="/" class="pointer-events-auto">
    <svg
      class="nav-icon-color fill-dark dark:fill-light"
      width="30"
      height="46"
      viewBox="0 0 42 46"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2.95028 42.4397H13.8427V27.4612C13.8427 26.7865 14.0718 26.2211 14.5301 25.7648C14.9864 25.3065 15.5519 25.0773 16.2265 25.0773H25.0773C25.752 25.0773 26.3184 25.3065 26.7767 25.7648C27.233 26.2211 27.4612 26.7865 27.4612 27.4612V42.4397H38.3536V16.7959C38.3536 16.493 38.2877 16.2177 38.1559 15.9698C38.0241 15.722 37.8442 15.5057 37.616 15.3208L21.7317 3.34856C21.4288 3.08501 21.0689 2.95323 20.6519 2.95323C20.235 2.95323 19.876 3.08501 19.5751 3.34856L3.68785 15.3208C3.46166 15.5096 3.28169 15.726 3.14794 15.9698C3.0142 16.2137 2.94831 16.4891 2.95028 16.7959V42.4397ZM0 42.4397V16.7959C0 16.0407 0.169149 15.3257 0.507447 14.6511C0.845746 13.9764 1.31189 13.4208 1.90588 12.9842L17.7931 0.95294C18.6251 0.317648 19.5751 0 20.6431 0C21.7111 0 22.667 0.317648 23.5108 0.95294L39.398 12.9812C39.9939 13.4179 40.4601 13.9745 40.7964 14.6511C41.1347 15.3257 41.3039 16.0407 41.3039 16.7959V42.4397C41.3039 43.2304 41.0098 43.9198 40.4217 44.5079C39.8336 45.096 39.1443 45.39 38.3536 45.39H26.8947C26.2181 45.39 25.6517 45.1618 25.1954 44.7055C24.739 44.2473 24.5109 43.6808 24.5109 43.0062V28.0306H16.793V43.0062C16.793 43.6828 16.5648 44.2492 16.1085 44.7055C15.6522 45.1618 15.0867 45.39 14.4121 45.39H2.95028C2.1596 45.39 1.47022 45.096 0.882132 44.5079C0.294044 43.9198 0 43.2304 0 42.4397Z"
      ></path>
    </svg>
  </Link>

  <!-- About -->
  <Link href="/about" class="pointer-events-auto">
    <svg
      class="nav-icon-color fill-dark dark:fill-light"
      width="30"
      height="44"
      viewBox="0 0 44 44"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M40.5 22C40.5 11.7824 32.2176 3.5 22 3.5C11.7824 3.5 3.5 11.7824 3.5 22C3.5 32.2176 11.7824 40.5 22 40.5C32.2176 40.5 40.5 32.2176 40.5 22ZM20.5 30V20C20.5 19.1716 21.1716 18.5 22 18.5C22.8284 18.5 23.5 19.1716 23.5 20V30C23.5 30.8284 22.8284 31.5 22 31.5C21.1716 31.5 20.5 30.8284 20.5 30ZM22.0156 12.5C22.8441 12.5 23.5156 13.1716 23.5156 14C23.5156 14.8284 22.8441 15.5 22.0156 15.5H22C21.1716 15.5 20.5 14.8284 20.5 14C20.5 13.1716 21.1716 12.5 22 12.5H22.0156ZM43.5 22C43.5 33.8744 33.8744 43.5 22 43.5C10.1256 43.5 0.5 33.8744 0.5 22C0.5 10.1256 10.1256 0.5 22 0.5C33.8744 0.5 43.5 10.1256 43.5 22Z"
        ></path>
    </svg>
  </Link>

  <!-- Blog -->
  <Link href="/blog" class="pointer-events-auto">
    <svg
      class="nav-icon-color fill-dark dark:fill-light"
      width="30"
      height="42"
      viewBox="0 0 41 42"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 34.3866H17.0833V37.8033H0V34.3866ZM0 24.1366H17.0833V27.5533H0V24.1366ZM37.5833 17.3033H3.41667C2.51051 17.3033 1.64147 16.9433 1.00072 16.3026C0.359969 15.6618 0 14.7928 0 13.8866V3.63664C0 2.73048 0.359969 1.86144 1.00072 1.22069C1.64147 0.57994 2.51051 0.219971 3.41667 0.219971H37.5833C38.4895 0.219971 39.3585 0.57994 39.9993 1.22069C40.64 1.86144 41 2.73048 41 3.63664V13.8866C41 14.7928 40.64 15.6618 39.9993 16.3026C39.3585 16.9433 38.4895 17.3033 37.5833 17.3033ZM3.41667 3.63664V13.8866H37.5833V3.63664H3.41667ZM37.5833 41.22H27.3333C26.4272 41.22 25.5581 40.86 24.9174 40.2193C24.2766 39.5785 23.9167 38.7095 23.9167 37.8033V27.5533C23.9167 26.6471 24.2766 25.7781 24.9174 25.1374C25.5581 24.4966 26.4272 24.1366 27.3333 24.1366H37.5833C38.4895 24.1366 39.3585 24.4966 39.9993 25.1374C40.64 25.7781 41 26.6471 41 27.5533V37.8033C41 38.7095 40.64 39.5785 39.9993 40.2193C39.3585 40.86 38.4895 41.22 37.5833 41.22ZM27.3333 27.5533V37.8033H37.5833V27.5533H27.3333Z"
      ></path>
    </svg>
  </Link>

  <!-- Projects -->
  <Link href="/projects" class="pointer-events-auto">
    <svg
      class="nav-icon-color fill-dark dark:fill-light"
      width="30"
      height="41"
      viewBox="0 0 41 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20.25 0.389894C24.6497 0.389894 28.0917 0.386523 30.7723 0.746771C33.4936 1.11254 35.6415 1.87612 37.3267 3.56131L37.7278 3.98993C39.3858 5.89298 40.025 8.35385 40.294 11.5211L40.3951 13.0351V13.1786C40.3587 13.8939 39.7848 14.4793 39.0541 14.516C38.3239 14.5524 37.6962 14.0277 37.588 13.3202L37.5732 13.1749L37.4757 11.7327C37.2221 8.79788 36.6686 7.07145 35.5883 5.83686L35.329 5.55909C34.2565 4.48664 32.8047 3.87214 30.3971 3.54844C27.9484 3.21931 24.7299 3.21547 20.25 3.21547C15.7705 3.21547 12.5534 3.21938 10.1048 3.54844C7.69682 3.87209 6.24393 4.48766 5.1692 5.56093L5.16736 5.55909C4.09533 6.6325 3.48211 8.08577 3.15854 10.4928C2.82941 12.9418 2.82558 16.16 2.82558 20.6399C2.82558 25.1197 2.82941 28.338 3.15854 30.787C3.48225 33.1954 4.09703 34.6474 5.1692 35.7189L5.37523 35.9138C6.42819 36.8675 7.84538 37.4277 10.1029 37.7313C12.5518 38.0607 15.7701 38.0643 20.25 38.0643C24.7299 38.0643 27.9482 38.0607 30.3971 37.7313C32.8051 37.4075 34.2557 36.7916 35.3271 35.7189L35.524 35.5128C36.4775 34.4608 37.0377 33.0444 37.3415 30.787C37.6708 28.3383 37.6744 25.1198 37.6744 20.6399C37.6744 19.8596 38.3069 19.2271 39.0872 19.2271C39.8675 19.2271 40.5 19.8596 40.5 20.6399C40.5 25.0395 40.5036 28.4816 40.1431 31.1622C39.8 33.7133 39.1065 35.7604 37.6321 37.3947L37.3267 37.7166C35.6426 39.4027 33.4951 40.167 30.7742 40.533C28.0932 40.8936 24.65 40.8899 20.25 40.8899C15.8505 40.8899 12.4085 40.8935 9.72765 40.533C7.17616 40.1899 5.12845 39.4964 3.49335 38.022L3.17142 37.7166C1.4862 36.0324 0.722634 33.8849 0.356878 31.1641C-0.0034303 28.4832 1.19889e-06 25.0399 1.19889e-06 20.6399C1.19827e-06 16.2403 -0.00333804 12.7983 0.356878 10.1175C0.722645 7.39603 1.48654 5.24735 3.17142 3.56131L3.49335 3.25595C5.12918 1.78245 7.17605 1.08973 9.72765 0.746771C12.4083 0.38646 15.85 0.389894 20.25 0.389894Z"
      ></path>
      <path
        d="M29.6686 24.8783C30.4489 24.8783 31.0814 25.5108 31.0814 26.2911C31.0814 27.0713 30.4489 27.7038 29.6686 27.7038H20.25C19.4697 27.7038 18.8372 27.0713 18.8372 26.2911C18.8372 25.5108 19.4697 24.8783 20.25 24.8783H29.6686Z"
      ></path>
      <path
        d="M9.74605 15.9674C10.2145 15.4056 11.0271 15.2999 11.6206 15.7006L11.7365 15.7871L12.1761 16.155L13.7894 17.52C14.2717 17.9442 14.6933 18.3411 15.0367 18.7212C15.7501 19.5111 16.3078 20.42 16.3078 21.5818C16.3078 22.743 15.752 23.6519 15.0385 24.4423C14.3514 25.2033 13.3512 26.0321 12.1761 27.0103L12.1743 27.0085L11.7365 27.3764C11.1372 27.8758 10.2456 27.7952 9.74605 27.1961C9.24664 26.5968 9.32724 25.7053 9.92633 25.2057L10.3678 24.8378L11.9259 23.5207C12.3486 23.1497 12.6816 22.8353 12.9414 22.5475C13.4344 22.0013 13.4822 21.7447 13.4822 21.5818C13.4822 21.4194 13.4349 21.1626 12.9414 20.616C12.6813 20.3279 12.347 20.0141 11.9241 19.6428L10.3678 18.3257L9.92633 17.9578L9.82147 17.8603C9.31984 17.3487 9.27754 16.5296 9.74605 15.9674Z"
      ></path>
    </svg>
  </Link>
</nav>
