---
import Link from "../Link.astro";
import Logo from "./Logo.astro";
---

<!-- 
Icon
Menu:
 - Logo
 - Close button
 - Content
 - Social Links
 - Script
--><!-- Hamburger Icon -->
<button id="hamburger" class="lg:hidden pointer-events-auto">
  <svg
    class="fill-dark stroke-dark dark:fill-light dark:stroke-light"
    width="29"
    height="30"
    viewBox="0 0 29 30"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M16.4578 17.8545C16.6555 17.7755 16.8762 17.7754 17.074 17.8545L21.3103 19.5498L26.0037 17.8447C26.2104 17.7696 26.4391 17.78 26.6384 17.873C26.8377 17.9662 26.992 18.1351 27.0671 18.3418C27.1422 18.5484 27.1317 18.7763 27.0388 18.9756C26.9457 19.175 26.7769 19.3301 26.5701 19.4053L24.3982 20.1943V21.3438C24.3982 22.5252 23.9289 23.6587 23.0935 24.4941C22.2581 25.3295 21.1245 25.7988 19.9431 25.7988H9.06812C7.88691 25.7988 6.75404 25.3293 5.9187 24.4941C5.08329 23.6587 4.61401 22.5252 4.61401 21.3438V20.6328L3.00171 21.2178C2.91118 21.2503 2.81568 21.2673 2.71948 21.2676H2.71851C2.52351 21.2676 2.33471 21.1986 2.1853 21.0732C2.03578 20.9478 1.93497 20.7733 1.90112 20.5811C1.86741 20.3891 1.9023 20.1912 1.99976 20.0225C2.09743 19.8535 2.25185 19.7238 2.4353 19.6572L7.41968 17.8447C7.61135 17.7751 7.82216 17.7787 8.01147 17.8545L12.2341 19.5439L16.4578 17.8545ZM6.26733 20.0303V21.3438C6.26733 22.085 6.56158 22.7961 7.08569 23.3203C7.60984 23.8445 8.32101 24.1386 9.06226 24.1387H19.9373C20.6785 24.1387 21.3896 23.8444 21.9138 23.3203C22.438 22.7961 22.7332 22.0851 22.7332 21.3438V20.7979L21.5808 21.2178C21.3892 21.2874 21.1783 21.2837 20.989 21.208L16.7654 19.5176L12.5427 21.208C12.345 21.2871 12.1243 21.287 11.9265 21.208L7.68921 19.5117L6.26733 20.0303ZM26.281 14.1699C26.501 14.1699 26.7123 14.2576 26.8679 14.4131C27.0235 14.5687 27.1111 14.78 27.1111 15C27.1111 15.22 27.0235 15.4313 26.8679 15.5869C26.7123 15.7424 26.501 15.8301 26.281 15.8301H2.71851C2.49873 15.83 2.28806 15.7422 2.13257 15.5869C1.97697 15.4313 1.8894 15.22 1.8894 15C1.8894 14.78 1.97697 14.5687 2.13257 14.4131C2.28805 14.2578 2.49873 14.17 2.71851 14.1699H26.281ZM14.4998 3.29492C19.8677 3.29492 24.4197 6.12988 25.2605 10.0977H25.2595C25.3152 10.3518 25.3135 10.615 25.2537 10.8682C25.1938 11.1215 25.0775 11.3582 24.9138 11.5605C24.75 11.763 24.5427 11.9267 24.3074 12.0381C24.0722 12.1494 23.8147 12.2056 23.5544 12.2041L5.44507 12.2051V12.2041C5.18513 12.2055 4.92808 12.1493 4.69312 12.0381C4.45771 11.9266 4.25053 11.763 4.08667 11.5605C3.92288 11.3581 3.80675 11.1215 3.74683 10.8682C3.6869 10.6147 3.68418 10.3511 3.73999 10.0967C4.58128 6.12951 9.13242 3.29504 14.4998 3.29492ZM14.4998 4.95508C12.2168 4.95514 10.0917 5.55172 8.45776 6.53906C6.82272 7.52718 5.69086 8.89867 5.36597 10.4453L5.36499 10.4502C5.36216 10.4616 5.36148 10.4738 5.36401 10.4854C5.36657 10.4969 5.37223 10.5074 5.37964 10.5166C5.38705 10.5258 5.39626 10.5331 5.40698 10.5381C5.41771 10.543 5.42936 10.5453 5.44116 10.5449H23.5671C23.5789 10.5452 23.5906 10.543 23.6013 10.5381C23.612 10.5331 23.6213 10.5257 23.6287 10.5166C23.636 10.5074 23.6417 10.4968 23.6443 10.4854C23.6468 10.4739 23.6461 10.4616 23.6433 10.4502L23.6423 10.4453C23.3135 8.89863 22.1796 7.52714 20.5437 6.53906C18.9087 5.55165 16.7828 4.95508 14.4998 4.95508Z"
      stroke-width="0.3"></path>
  </svg>
</button>

<!-- Hamburger Menu -->
<div
  id="menu"
  class="pointer-events-auto hidden md:hidden fixed inset-0 bg-light dark:bg-dark z-100 p-10"
>
  <div class="flex items-center justify-between">
    <Logo />

    <!-- Close Menu button -->
    <button class="">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <!-- Menu content here -->
  <div
    class="flex flex-col items-center gap-4 mt-20 justify-center text-dark dark:text-light"
  >
    <Link href="/" class="text-2xl font-semibold">Home</Link>
    <Link href="/blog" class="text-2xl font-semibold">Blog</Link>
    <Link href="/about" class="text-2xl font-semibold">About</Link>
    <Link href="/projects" class="text-2xl font-semibold">Projects</Link>
  </div>

  <div class="flex flex-col items-center gap-4 mt-10 mb-10 justify-center">
    <hr class="w-40 border-light" />
  </div>

  <div class="h-10 flex flex-row items-center gap-10 mt-10 justify-center">
    <a href="https://www.linkedin.com/in/ahmedhosam-dev/" target="_blank">
      <i class="text-black dark:text-light text-[30px] fa-brands fa-linkedin"
      ></i>
    </a>
    <a href="https://www.youtube.com/@ahmedhosam-dev" target="_blank">
      <i class="text-black dark:text-light text-[30px] fa-brands fa-youtube"
      ></i>
    </a>
    <a href="https://github.com/ahmedhosam-dev" target="_blank">
      <i
        class="text-black dark:text-light text-[30px] fa-brands fa-square-github"
      ></i>
    </a>
  </div>
</div>

<script>
  const hamburger = document.getElementById("hamburger") as HTMLButtonElement;
  const menu = document.getElementById("menu") as HTMLButtonElement;
  const closeButton = menu?.querySelector("button") as HTMLButtonElement;

  const toggleMenu = (): void => {
    menu.classList.toggle("hidden");
  };

  const closeMenu = (): void => {
    menu.classList.add("hidden");
  };

  document.addEventListener("keydown", (e: KeyboardEvent) => {
    if (e.key === "Escape") closeMenu();
  });

  hamburger.addEventListener("click", toggleMenu);
  closeButton.addEventListener("click", closeMenu);
</script>
