---
import Link from "../Link.astro";
---

<Link href="/" class="pointer-events-auto">
  <div class="flex items-center gap-4">
    <svg width="37" height="48" viewBox="0 0 47 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="fill-dark dark:fill-light" d="M23.5 0L43.8516 12V36L23.5 48L3.1484 36V12L23.5 0Z"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4496 10.0133C23.4808 9.99556 23.5192 9.99556 23.5504 10.0133L32.9496 15.3658C32.9808 15.3835 33 15.4164 33 15.4519V38.9006C33 38.9555 32.9549 39 32.8992 39H30.0769C30.0213 39 29.9761 38.9555 29.9761 38.9006V28.1086C29.9761 28.0321 29.8921 27.9843 29.8249 28.0226L23.5504 31.5956C23.5192 31.6134 23.4808 31.6134 23.4496 31.5956L17.1751 28.0226C17.1079 27.9843 17.0239 28.0321 17.0239 28.1086V38.9006C17.0239 38.9555 16.9787 39 16.9231 39H14.1008C14.0451 39 14 38.9555 14 38.9006V15.4519C14 15.4164 14.0192 15.3835 14.0504 15.3658L23.4496 10.0133ZM23.5504 13.4575C23.5192 13.4398 23.4808 13.4398 23.4496 13.4575L17.0743 17.088C17.0431 17.1058 17.0239 17.1386 17.0239 17.1742V24.4348C17.0239 24.4703 17.0431 24.5032 17.0743 24.5209L23.4496 28.1514C23.4808 28.1692 23.5192 28.1692 23.5504 28.1514L29.9257 24.5209C29.9569 24.5032 29.9761 24.4703 29.9761 24.4348V17.1742C29.9761 17.1386 29.9569 17.1058 29.9257 17.088L23.5504 13.4575Z" fill="#3D91FF"/>
    </svg>

    <svg
      class="hidden md:inline-block fill-dark dark:fill-light"
      width="150"
      height="23"
      viewBox="0 0 199 23"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 22.53L3.87415 0.485695C3.89448 0.402134 3.94533 0.360354 4.02667 0.360354H8.55668C8.63803 0.360354 8.68887 0.402134 8.70921 0.485695L12.4308 22.53C12.441 22.6344 12.4003 22.6866 12.3088 22.6866H8.84648C8.74479 22.6866 8.68887 22.6344 8.6787 22.53L8.34314 20.1798H4.08768L3.75213 22.53C3.74196 22.6344 3.69112 22.6866 3.5996 22.6866H0.12202C0.0406735 22.6866 0 22.6344 0 22.53ZM6.11627 7.73978L4.71304 16.7486H7.71779L6.43658 7.73978L6.25355 6.54905L6.11627 7.73978Z"
        ></path>
      <path
        d="M22.7293 22.6866H19.1908C19.1094 22.6866 19.0687 22.6344 19.0687 22.53L19.0992 0.485695C19.0992 0.402134 19.1501 0.360354 19.2518 0.360354H22.7293C22.831 0.360354 22.8819 0.402134 22.8819 0.485695L22.8514 9.21253H27.5339V0.485695C27.5339 0.402134 27.5746 0.360354 27.6559 0.360354H31.1335C31.2352 0.360354 31.286 0.402134 31.286 0.485695L31.347 22.53C31.347 22.6344 31.2962 22.6866 31.1945 22.6866H27.6864C27.5847 22.6866 27.5339 22.6344 27.5339 22.53V13.0981H22.8514V22.53C22.8514 22.6344 22.8107 22.6866 22.7293 22.6866Z"
        ></path>
      <path
        d="M42.2404 22.6866H38.7018C38.6205 22.6866 38.5798 22.6344 38.5798 22.53L38.6408 0.485695C38.6408 0.402134 38.6815 0.360354 38.7628 0.360354H42.576C42.6573 0.360354 42.7285 0.402134 42.7895 0.485695L45.6417 4.71594L48.4787 0.485695C48.5397 0.402134 48.616 0.360354 48.7075 0.360354H52.5359C52.6274 0.360354 52.6732 0.402134 52.6732 0.485695L52.7342 22.53C52.7342 22.6344 52.6935 22.6866 52.6121 22.6866H49.0736C48.9922 22.6866 48.9515 22.6344 48.9515 22.53L48.921 6.15736L45.6417 11.0456L42.3929 6.15736L42.3624 22.53C42.3624 22.6344 42.3218 22.6866 42.2404 22.6866Z"
        ></path>
      <path
        d="M70.2624 22.6866H60.1652C60.0839 22.6866 60.0432 22.6344 60.0432 22.53L60.0737 0.485695C60.0737 0.402134 60.1144 0.360354 60.1957 0.360354H70.2319C70.3132 0.360354 70.3539 0.412579 70.3539 0.51703V4.1049C70.3539 4.18846 70.3132 4.23025 70.2319 4.23025H63.8258V9.24387H70.2319C70.3132 9.24387 70.3539 9.28565 70.3539 9.36921L70.3844 13.0041C70.3844 13.0876 70.3437 13.1294 70.2624 13.1294H63.8258V18.7384H70.2624C70.3437 18.7384 70.3844 18.7906 70.3844 18.8951V22.5613C70.3844 22.6449 70.3437 22.6866 70.2624 22.6866Z"
        ></path>
      <path
        d="M83.5962 22.6553L77.9985 22.6866C77.8968 22.6866 77.846 22.6344 77.846 22.53L77.907 0.485695C77.907 0.402134 77.9476 0.360354 78.029 0.360354L83.8707 0.329019C85.0299 0.297684 86.0773 0.569255 87.0127 1.14373C87.9584 1.71821 88.7109 2.49637 89.2701 3.4782C89.8395 4.44959 90.1243 5.52543 90.1243 6.70572V15.9183C90.1243 17.1508 89.8345 18.2788 89.2549 19.3025C88.6651 20.3156 87.8821 21.1251 86.906 21.7309C85.9298 22.3263 84.8265 22.6344 83.5962 22.6553ZM83.8707 4.16757L81.6896 4.19891L81.6591 18.7384H83.5962C84.369 18.7384 85.0197 18.4616 85.5485 17.908C86.0773 17.3545 86.3416 16.6912 86.3416 15.9183V6.67439C86.3416 5.99546 86.0976 5.40531 85.6095 4.90395C85.1214 4.39214 84.5418 4.14668 83.8707 4.16757Z"
        ></path>
      <path
        d="M113.726 22.6866H110.187C110.106 22.6866 110.065 22.6344 110.065 22.53L110.096 0.485695C110.096 0.402134 110.147 0.360354 110.248 0.360354H113.726C113.828 0.360354 113.879 0.402134 113.879 0.485695L113.848 9.21253H118.531V0.485695C118.531 0.402134 118.571 0.360354 118.653 0.360354H122.13C122.232 0.360354 122.283 0.402134 122.283 0.485695L122.344 22.53C122.344 22.6344 122.293 22.6866 122.191 22.6866H118.683C118.581 22.6866 118.531 22.6344 118.531 22.53V13.0981H113.848V22.53C113.848 22.6344 113.807 22.6866 113.726 22.6866Z"
        ></path>
      <path
        d="M135.357 23C134.249 23 133.227 22.7075 132.291 22.1226C131.366 21.5377 130.619 20.7595 130.049 19.7881C129.49 18.8063 129.21 17.7305 129.21 16.5606L129.241 6.39237C129.241 5.20163 129.521 4.13102 130.08 3.18052C130.629 2.21957 131.371 1.45186 132.307 0.877384C133.242 0.292461 134.259 0 135.357 0C136.496 0 137.518 0.287239 138.423 0.861717C139.338 1.43619 140.07 2.20913 140.619 3.18052C141.179 4.14146 141.458 5.21208 141.458 6.39237L141.489 16.5606C141.489 17.7305 141.214 18.8011 140.665 19.7725C140.106 20.7543 139.364 21.5377 138.438 22.1226C137.513 22.7075 136.486 23 135.357 23ZM135.357 19.1301C135.988 19.1301 136.537 18.869 137.004 18.3467C137.472 17.814 137.706 17.2187 137.706 16.5606L137.676 6.39237C137.676 5.68211 137.457 5.08152 137.02 4.5906C136.583 4.09968 136.028 3.85422 135.357 3.85422C134.717 3.85422 134.168 4.09446 133.71 4.57493C133.252 5.0554 133.024 5.66122 133.024 6.39237V16.5606C133.024 17.2604 133.252 17.8663 133.71 18.3781C134.168 18.8794 134.717 19.1301 135.357 19.1301Z"
        ></path>
      <path
        d="M153.846 23C152.738 23 151.716 22.7075 150.781 22.1226C149.855 21.5377 149.113 20.7595 148.554 19.7881C148.005 18.8063 147.73 17.7305 147.73 16.5606V15.0879C147.73 14.973 147.781 14.9155 147.883 14.9155H151.391C151.472 14.9155 151.513 14.973 151.513 15.0879V16.5606C151.513 17.2604 151.742 17.8663 152.199 18.3781C152.657 18.8794 153.206 19.1301 153.846 19.1301C154.497 19.1301 155.051 18.8742 155.509 18.3624C155.966 17.8401 156.195 17.2396 156.195 16.5606C156.195 15.7772 155.697 15.0931 154.701 14.5082C154.538 14.4037 154.324 14.2784 154.06 14.1322C153.806 13.9755 153.501 13.7979 153.145 13.5995C152.789 13.401 152.443 13.2078 152.108 13.0198C151.772 12.8213 151.447 12.6333 151.131 12.4557C149.993 11.7663 149.143 10.9046 148.584 9.87057C148.035 8.82607 147.761 7.65622 147.761 6.36104C147.761 5.1703 148.045 4.09446 148.615 3.13351C149.184 2.18302 149.926 1.43097 150.842 0.877384C151.767 0.313351 152.769 0.0313351 153.846 0.0313351C154.955 0.0313351 155.972 0.313351 156.897 0.877384C157.822 1.45186 158.559 2.21435 159.108 3.16485C159.668 4.11535 159.947 5.18074 159.947 6.36104V8.99319C159.947 9.07675 159.907 9.11853 159.825 9.11853H156.317C156.236 9.11853 156.195 9.07675 156.195 8.99319L156.165 6.36104C156.165 5.60899 155.936 4.99796 155.478 4.52793C155.021 4.0579 154.477 3.82289 153.846 3.82289C153.206 3.82289 152.657 4.07357 152.199 4.57493C151.742 5.07629 151.513 5.67166 151.513 6.36104C151.513 7.06085 151.655 7.64578 151.94 8.1158C152.235 8.58583 152.769 9.03497 153.541 9.46322C153.623 9.505 153.811 9.60945 154.106 9.77657C154.401 9.94369 154.726 10.1317 155.082 10.3406C155.448 10.5391 155.778 10.7218 156.073 10.889C156.368 11.0456 156.546 11.1396 156.607 11.171C157.644 11.7663 158.463 12.4975 159.063 13.3644C159.673 14.2314 159.978 15.2968 159.978 16.5606C159.978 17.7827 159.703 18.8794 159.154 19.8508C158.595 20.8222 157.853 21.5899 156.927 22.154C156.002 22.718 154.975 23 153.846 23Z"
        ></path>
      <path
        d="M165.777 22.53L169.651 0.485695C169.671 0.402134 169.722 0.360354 169.804 0.360354H174.334C174.415 0.360354 174.466 0.402134 174.486 0.485695L178.208 22.53C178.218 22.6344 178.177 22.6866 178.086 22.6866H174.623C174.522 22.6866 174.466 22.6344 174.456 22.53L174.12 20.1798H169.865L169.529 22.53C169.519 22.6344 169.468 22.6866 169.377 22.6866H165.899C165.818 22.6866 165.777 22.6344 165.777 22.53ZM171.893 7.73978L170.49 16.7486H173.495L172.213 7.73978L172.03 6.54905L171.893 7.73978Z"
        ></path>
      <path
        d="M188.506 22.6866H184.968C184.886 22.6866 184.846 22.6344 184.846 22.53L184.907 0.485695C184.907 0.402134 184.947 0.360354 185.029 0.360354H188.842C188.923 0.360354 188.994 0.402134 189.055 0.485695L191.908 4.71594L194.745 0.485695C194.806 0.402134 194.882 0.360354 194.973 0.360354H198.802C198.893 0.360354 198.939 0.402134 198.939 0.485695L199 22.53C199 22.6344 198.959 22.6866 198.878 22.6866H195.339C195.258 22.6866 195.217 22.6344 195.217 22.53L195.187 6.15736L191.908 11.0456L188.659 6.15736L188.628 22.53C188.628 22.6344 188.588 22.6866 188.506 22.6866Z"
        ></path>
    </svg>
  </div>
</Link>
