---
---

<div
  class="pointer-events-auto h-full overflow-y-auto scroll-smooth snap-y snap-mandatory pr-10 pl-5 pt-0
    [&::-webkit-scrollbar]:w-2
    [&::-webkit-scrollbar-track]:bg-sky-100
    [&::-webkit-scrollbar-track]:rounded-full
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-track]:h-screen
    [&::-webkit-scrollbar-thumb]:bg-sky-300
    dark:[&::-webkit-scrollbar-track]:bg-sky-700
    dark:[&::-webkit-scrollbar-thumb]:bg-sky-500"
>
    <slot/>
</div>
