/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #000820;
  --color-light: #ebebeb;
}

@layer components {
  .headline {
    font-size: clamp(12px, 7vw, 28px);
  }
  .hero-headline {
    font-size: clamp(22px, 7vw, 34px);
  }
  .nav-icon-color {
    @apply transition-all duration-300 hover:stroke-emerald-300! hover:fill-emerald-300! hover:[filter:drop-shadow(0_0_5px_#55FF00)_drop-shadow(0_0_10px_#55FF00)] hover:animate-pulse;
  }
  nav a.active {
    .icon-svg {
      @apply fill-emerald-500! stroke-emerald-500!;
    }
  }
}

body {
  @apply relative h-screen grid grid-cols-[auto_fr_1fr_1fr_1fr_auto] grid-rows-6 bg-light dark:bg-dark text-dark dark:text-light overflow-hidden;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  @apply z-50 pointer-events-none col-span-6 row-span-1 mx-5 px-5 max-h-20 sm:max-h-25 flex flex-row items-center justify-between border-b-2 rounded-md border-dark dark:border-light lg:p-10 lg:pb-10;
}

aside {
  @apply z-1 ml-5 pointer-events-none hidden lg:flex lg:max-w-40 flex-col justify-between p-10 row-span-5 row-start-2;
}

main {
  @apply relative pointer-events-none z-10 col-span-6 lg:col-span-4 row-span-5 row-start-2 px-5 md:p-5;
}

.rside {
  @apply z-1 pointer-events-none hidden mr-5 lg:flex lg:max-w-40 justify-between justify-self-end items-center flex-col row-span-5 col-start-6 row-start-2 p-10 pr-15;
}

footer {
  @apply z-1 absolute left-0 right-0 bottom-0 mb-1 text-center text-xs text-gray-500 dark:text-gray-400;
}

/* HEXAGONE GRID */
#hexagonGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#hexagonGrid .row {
  display: inline-flex;
  margin-top: -32px;
  margin-left: -50px;
}

#hexagonGrid .row:nth-child(even) {
  margin-left: 2px;
}

#hexagonGrid .row .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  margin: 4px 2px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#hexagonGrid .row .hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-light;
  opacity: 0.95;
  transition: 1s;
}

.dark #hexagonGrid .row .hexagon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-dark;
  opacity: 0.95;
  transition: 1s;
}

#hexagonGrid .row .hexagon::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  @apply bg-light;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.dark #hexagonGrid .row .hexagon::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  @apply bg-dark;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

#hexagonGrid .row .hexagon:hover::before {
  @apply bg-blue-500;
  opacity: 1;
  transition: 0s;
}
