---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/partial/ProjectCard.astro";
import Scrollable from "../components/partial/Scrollable.astro";

const response: any = await fetch("https://api.github.com/users/ahmedhosam-dev/repos?sort=updated&per_page=100")
if (!response.ok) { console.error(`GitHub API request failed: ${response.status}`); }

const repos = await response.json();
---

<BaseLayout class="pointer-events-auto overflow-hidden mb-10">
  <Scrollable>
  <div class="flex flex-row justify-between items-center font-bold text-black dark:text-light text-center mb-8">
    <div class="headline border-b-2 rounded-b-md pb-2">Projects</div>
  </div>

  {response.ok ? 
    <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-30 mt-5">
      {repos.map((repo: any) => (
        <ProjectCard repo={repo}  />
      ))}
    </div>
    :
    <div
      class="relative w-full flex flex-wrap items-center justify-center py-3 pl-4 pr-14 rounded-lg text-base font-medium [transition:all_0.5s_ease] border-solid border border-[#f85149] text-[#b22b2b] [&amp;_svg]:text-[#b22b2b] group bg-[linear-gradient(#f851491a,#f851491a)]"
    >
      <button
        type="button"
        aria-label="close-error"
        class="absolute right-4 p-1 w-9 rounded-md transition-opacity text-[#f85149] border border-[#f85149] opacity-40 hover:opacity-100"
        onclick="window.location.reload()"
      >
        <i class="fa-solid fa-arrow-rotate-right"></i>
      </button>
      <p class="flex flex-row items-center mr-5 gap-x-2">
        <svg
          stroke="currentColor"
          fill="none"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke-linecap="round"
          stroke-linejoin="round"
          height="28"
          width="28"
          class="min-h-7 min-w-7 mr-5"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"
          ></path>
          <path d="M12 9v4"></path>
          <path d="M12 17h.01"></path>
        </svg>
        Sorry, but the GitHub API has a rate limit on its endpoints (which I use to fetch my GitHub repositories here).
        You can try again later or change your public IP address.<br><br>
        Thank you for your time. 
      </p>
    </div>
  }
  </div>
  </Scrollable>
</BaseLayout>
