---

---

<div class="flex flex-row gap-3">
  <a href="https://github.com/ahmedhosam-dev" target="_blank">
    <button
      class="p-2 px-3 rounded-full backdrop-blur-lg border pointer-events-auto
      border-black/10 bg-gradient-to-tr from-white/60 to-white/40
      shadow-lg hover:shadow-2xl hover:shadow-black/20
      hover:scale-110 hover:rotate-3 active:scale-95 active:rotate-0
      transition-all duration-300 ease-out cursor-pointer
      hover:border-black/30 hover:bg-gradient-to-tr
      hover:from-black/10 hover:to-white/40
      dark:from-black/60 dark:to-black/40
      dark:hover:from-white/10 dark:hover:to-black/40
      dark:border-white/10 dark:hover:border-white/30
      
      group relative overflow-hidden"
    >
      <div
        class="absolute inset-0
        bg-gradient-to-r from-transparent via-black/10 to-transparent
        dark:via-white/10
        -translate-x-full group-hover:translate-x-full
        transition-transform duration-700 ease-out"
      >
      </div>
      <div class="relative z-10">
        <i
          class="text-black dark:text-white text-1xl fa-brands fa-square-github"
        ></i>
      </div>
    </button>
  </a>

  <a href="https://www.youtube.com/@ahmedhosam-dev" target="_blank">
    <button
      class="p-2 rounded-full backdrop-blur-lg pointer-events-auto
      border border-red-500/20
      bg-gradient-to-tr from-white/60 to-white/40
      shadow-lg hover:shadow-2xl hover:shadow-red-500/30
      hover:scale-110 hover:rotate-2 active:scale-95 active:rotate-0
      transition-all duration-300 ease-out cursor-pointer
      hover:border-red-500/50 hover:bg-gradient-to-tr
      hover:from-red-500/10 hover:to-white/40
      
      dark:from-black/60 dark:to-black/40
      dark:hover:from-red-500/10 dark:hover:to-black/40
      dark:border-red-500/20 dark:hover:border-red-500/50
      
      group relative overflow-hidden"
    >
      <div
        class="absolute inset-0
        bg-gradient-to-r from-transparent via-red-400/20 to-transparent
        -translate-x-full group-hover:translate-x-full
        transition-transform duration-700 ease-out"
      >
      </div>
      <div class="relative z-10">
        <i class="text-red-400 text-1xl fa-brands fa-youtube"
        ></i>
      </div>
    </button>
  </a>

  <a href="https://www.linkedin.com/in/ahmedhosam-dev/" target="_blank">
    <button
      class="p-2 px-3 rounded-full backdrop-blur-lg border border-blue-500/20
      pointer-events-auto
      bg-gradient-to-tr from-white/60 to-white/40
      shadow-lg hover:shadow-2xl hover:shadow-blue-500/30
      hover:scale-110 hover:-rotate-2 active:scale-95 active:rotate-0
      transition-all duration-300 ease-out cursor-pointer
      hover:border-blue-500/50 hover:bg-gradient-to-tr
      hover:from-blue-500/10 hover:to-white/40
      
      dark:from-black/60 dark:to-black/40
      dark:hover:from-blue-500/10 dark:hover:to-black/40
      dark:border-blue-500/20 dark:hover:border-blue-500/50
      
      group relative overflow-hidden"
    >
      <div
        class="absolute inset-0
        bg-gradient-to-r from-transparent via-blue-400/20 to-transparent
        -translate-x-full group-hover:translate-x-full
        transition-transform duration-700 ease-out"
      >
      </div>
      <div class="relative z-10">
        <i class="text-blue-400 text-1xl fa-brands fa-linkedin"
        ></i>
      </div>
    </button>
  </a>
</div>
